@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
    background-color: darkgray
}
.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
}
.main_nav a{
    text-decoration: none;
    color: black;
    padding: 20px 0;
    text-align: center;
    border: 1px solid black;
    flex: 1;
    font-family: 'Hanalei Fill', cursive;
    transition: 0.1s;
    white-space: nowrap;
}
.main_nav a:nth-of-type(1):hover{
    font-size: 200%;
    padding: 11px;
    background-color: purple;
    white-space: nowrap;
}
.main_nav a:nth-of-type(2):hover{
    font-size: 200%;
    padding: 11px;
    background-color: pink;
}
.main_nav a:nth-of-type(3):hover{
    font-size: 200%;
    padding: 11px;
    background-color: gold;
}
.tiles{
    font-family: 'Roboto Slab', serif;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tiles li{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    border: 1px solid black;
    flex: 0 1;
    margin: 10px 0;
    height: 305px;
    max-width: 300px;
    background-color: #ffffff;
    padding: 0;
}
.tiles li img{
    width: 300px;
    height: 84.5%;
    margin-top: auto;
}
.tiles li h1{
    height: 100%;
    border-bottom: 1px solid black;
    font-size: 30px;
    transition: 0.2s;
    margin: 0;
}

.tiles li a{
    border-bottom: 1px solid black;
    height: 15%;
    text-decoration: none;
    color: black;
    text-align: center;
    /* margin-bottom: auto; */
}

.tiles h1:hover{
    background-color: purple;
    border: 1px solid black;
}

.tiles li:hover{
    box-shadow: 0 0 30px red;
}

form{
    padding-top: 20px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-flow: column;
    width: 400px;
}

fieldset{
    width: 100%;
}

.manage{
    display: flex;
    justify-content: center;
    flex: 3;
}

.manage label{
    flex: 2;
}

.manage textarea{
    flex: 5;
}

.manage select{
    flex: 5;
}

.cent{
    flex: 1;
    display: flex;
    align-items: center;
}